
.hide {
  display: none;
}

.fullwidth {
  max-width: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.material-icons {
  font-size: 75px;
}

h1.type_heading {
  font-size: 48px;
  margin: 40px 0 20px;
}

p.type_copy {
  font-size: 18px;
  margin: 40px 0 20px;
}
